.ui.borderless.top.menu{
  background-color: #f5f5f5;
  box-shadow: none;
  border: none;
}

.ui.borderless.middle.menu{
  box-shadow: none;
  border: none;
}

.footer-background{
  background-color: #292929;
  padding-bottom: 20px;
  padding-top: 20px;
  color: white;
}

.ui.label{
  background-color: black;
  color: white;
}